Docker/mysql8/mysql-data/
Docker/mysql5/docker-entrypoint-initdb.d/inicial.sql
Docker/mysql8/docker-entrypoint-initdb.d/inicial.sql
Docker/passbolt/keys/passbolt_private.asc
Docker/passbolt/keys/passbolt_public.asc
Docker/apache/prestashop
Docker/apache/tmp
Docker/apache/web-dump
Docker/vtiger/tmp
Docker/vtiger/web-dump
Docker/tomcat9/Docker/logs
Docker/tomcat9/Docker/volum
Docker/liferay-7.2.1-ga2/Docker/liferay_data/
Docker/liferay-7.2.1-ga2/Docker/logs/
Docker/liferay-7.3.5-ga6/Docker/liferay_data/
Docker/liferay-7.3.5-ga6/Docker/logs/
Docker/cockroach/Docker/cockroach-data
Docker/cockroach/Docker/cockroach-logs
Docker/cockroach/Docker/docker-entrypoint-initdb.d
Docker/crontab-git/keys/*
*/**/**.csv
core/session/.var