modules/docker/mysql8/mysql-data/
modules/docker/mysql5/docker-entrypoint-initdb.d/inicial.sql
modules/docker/mysql8/docker-entrypoint-initdb.d/inicial.sql
modules/docker/passbolt/keys/passbolt_private.asc
modules/docker/passbolt/keys/passbolt_public.asc
modules/docker/apache/prestashop
modules/docker/apache/tmp
modules/docker/apache/web-dump
modules/docker/vtiger/tmp
modules/docker/vtiger/web-dump
modules/docker/tomcat9/Docker/logs
modules/docker/tomcat9/Docker/volum
modules/docker/liferay-7.2.1-ga2/Docker/liferay_data/
modules/docker/liferay-7.2.1-ga2/Docker/logs/
modules/docker/liferay-7.3.5-ga6/Docker/liferay_data/
modules/docker/liferay-7.3.5-ga6/Docker/logs/
modules/docker/cockroach/Docker/cockroach-data
modules/docker/cockroach/Docker/cockroach-logs
modules/docker/cockroach/Docker/docker-entrypoint-initdb.d
modules/docker/crontab-git/keys/*
*/**/**.csv
core/session/.var
modules/docker/apache/images/*.png
