BINARIS
BINARIS/**/*
DadesPermanents
DadesPermanents/**/*
src/bundles
src/bundles/**/*
src/configs
src/configs/**/*
.metadata/
.metadata/**/*
.sonarlint/
.sonarlint/**/*
RemoteSystemsTempFiles/
RemoteSystemsTempFiles/**/*
.DS_Store
nb-configuration.xml
